<div class='container'>
<h1>Oberlin ExCo</h1>
<h2>About Us</h2>
<p>The Experimental College is both a student organization and a department of the college that sponsors for-credit courses taught by Oberlin students, administrators, townspeople, and faculty. Run by a small committee of students, “ExCo” exists to give students, faculty and community members the opportunity to learn to teach and to push the boundaries of teaching in innovative ways. It also allows students to learn underrepresented and nontraditional materials, giving them a chance to broaden their horizons past the typical college academic experience.<br><br>
The Experimental College, originally chartered in 1968, supplements the regular curriculum by offering classes not typically available in traditional courses of study. These courses reflect the current academic, cultural, social, political, and intellectual trends of the Oberlin community.<br><br>
You might sign up for such academic courses as Korean language study or an introduction to Japanese cinema, or take a nontraditional class on the fundamentals of rock climbing, community organizing, knitting, Taiko drumming, or swing dance. As far as we know, no one has offered a course in underwater basket weaving. You can be the first. You may earn one to two credit hours for an ExCo course, and you may apply up to five ExCo credits toward the 112 credit hours required for graduation. Anyone can take or teach an ExCo- including students, faculty members, and community members!</p>
</div>
