<html>

<head>
<h1>Application Renewal</h1>
<h2>Experimental College</h2>
</head>

<body>

	<p>Thank you for your submission! Below is the information you entered.</p>

	Official Title of Course:
	Semester:
	Year:

	<h5>Instructor Name</h5>

	<h3>Questions</h3>

	<p>For how many credits do you want the course to be offered? Most courses are taught for 1 credit, though academic courses can be taught for 2 credits under the conditions defined in our Course Guidelines sheet.</p>

	<p>What is your course enrollment limit? The limit is usually 15 students per instructor.</p>

	<p>What were the major problems with this class the last time it was offered? How will you try to solve them for next semester?</p>

	<p>What changes are you making to the course, if any?</p>

	<p>How do you think that the students felt about this course the last time it was taught? Were the students engaged in the course? Do you think that all students felt comfortable with the course material and in class?</p>

</body>
</html>		
